.header {
  width: 100vw;
  max-height: 500px;
  background-color: #75bc97;
  display: flex;
}

.img-header {
  max-width: 100%;
  display: flex;
}

.header-text {
  margin-top: 57px;
  margin-left: 88px;
  display: grid;
  gap: 40px;
  max-width: 40%;
  position: absolute;
}
