.menu {
  display: flex;
  background: #ffffff;
  height: auto;

  margin-left: 293px;
  gap: 100px;
  margin-bottom: 53px;
}

.icons {
  height: 75px;
  width: 75px;
  margin-top: 57px;
  margin-bottom: 6px;
}

.item-menu {
  width: 220px;
}

.item-menu span {
  font-weight: 700;
  font-weight: 700;
  color: rgba(132, 132, 132, 1);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #848484;
  margin-bottom: 25px;
}

select {
  border: 1px solid #a8a8a8;
  border-radius: 19px;
  height: 40px;
  width: 219px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  color: #a8a8a8;
  padding-left: 18px;
  margin-bottom: 53px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .menu {
    display: grid;

    justify-content: center;
    align-items: center;

    margin-left: 0;
    gap: 0;
  }
}
